.outer-container{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
    margin:10px;
}
.image{
    width:200px;
    height:200px;
}
.each-country{
    padding:10px;
    margin:5px;
}
.country-name{
    width:200px;
    font-size:22px;
    font-weight: 500;
}
.Dark{
    background-color: #303045;
    color:white;
}
.filter-component,.header-section{
    display:flex;
    justify-content:space-between;
}